.buttons {
  margin: 1rem;
}

.result {
  font-size: 24px;
  font-family: cursive;
  margin-left: 1rem;
}

.filename {
  font-size: 20px;
}

.res {
  font-family: cursive;
  width: 80%;
  margin-left: 1rem;
}
