<h1> Demo : Inference Service for Optical Character Recognition (OCR) </h1>
<mat-divider></mat-divider>

<button mat-raised-button color="primary" class="buttons" (click)="onUpload()">Upload File(.jpg/.pdf)</button>
<span class="filename">{{this.fileName}}</span>

<input type="file" id="file-browse-input" style="display: none"
          (change)="readFile($event)"
          multiple="multiple" accept=".pdf,.jpeg,.jpg"/>

<div>
<button mat-button class="buttons" (click)="runOCR()">Execute OCR</button>
</div>


<div class="result">Result</div>

<p class="res">{{this.result}}</p>


